/******* Start Default Theme *******/

.option-box .gear-check,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu .divider {
    background-color: #8c6239;
}

.navbar-inverse .navbar-brand span,
.features .feat span.glyphicon,
.about .h1 span,
.testimonials span,
.footer h3,
.footer .copyright span {
    color: #8c6239
}

.contact-us input[type="text"]:focus,
.contact-us input[type="email"]:focus,
.contact-us textarea:focus {
    border-bottom: 2px solid #8c6239;
    -webkit-box-shadow: 0 0 10px #8c6239;
    box-shadow: 0 0 10px #8c6239;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active {
    border: 3px solid #8c6239;
}

.dropdown-menu {
    border-top: 3px solid #8c6239;
}

.carousel-indicators .active {
    background-color: #8c6239;
    border-color: #8c6239;
}

#scroll-top {
    background-color: #8c6239;
}


/******* End  Default Theme *******/
